@import url(/assets/css/reset.css);

.container {
  max-width: 100%;
}
.mortgage-header {
  padding: 32px 24px 0px 24px;
}

.mortgage-header h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #133041;
  margin-bottom: 8px;
}

.mortgage-header a {
  font-size: var(--font-sizetext-preset-4);
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #4e6e7e;
}

.mortgage-main {
  padding: 24px;
}

.mortgage h2 {
  font-size: var(--font-sizetext-preset-4);
  font-weight: 500;
  line-height: 24px;
  color: #4e6e7e;
  margin-bottom: 12px;
}
.amount-input input {
  width: 283px;
  height: 48px;
}
.amount-input {
  display: flex;
  border: 1px solid var(--color-slate-500, #6b94a8);
  border-radius: 4px;
  margin-bottom: 24px;
}
.term-input input {
  width: 247px;
  height: 48px;
}
.term-input {
  display: flex;
  border: 1px solid var(--color-slate-500, #6b94a8);
  border-radius: 4px;
  margin-bottom: 24px;
}
.rate-input input {
  width: 276px;
  height: 48px;
}
.rate-input {
  display: flex;
  border: 1px solid var(--color-slate-500, #6b94a8);
  border-radius: 4px;
  margin-bottom: 24px;
}
.mortgage input {
  border: none;
}

.mortgage span {
  display: flex;
  justify-content: space-between;
  border: 1px solid #6b94a8;
  border-radius: 4px;
  margin-bottom: 24px;
}

.mortgage-main span p {
  padding: 12px;
  background-color: #e4f4fd;
  font-size: var(--font-sizetext-preset-3);
  font-weight: 700;
  line-height: 22.5px;
  text-align: left;
  color: #4e6e7e;
}

.mortgage-type span {
  display: flex;
  padding: 12px;
  border: 1px solid #eaeaea;
}

.label {
  border-radius: 4px;
  margin-bottom: 12px;
  border: 1px solid #6b94a8;
}
.label:last-child {
  margin-bottom: 0;
}
.label input {
  margin: 12px 16px;
}
.label label {
  font-size: var(--font-sizetext-preset-3);
  font-weight: 700;
  line-height: 22.5px;
  color: #133041;
}

.mortgage-btn {
  padding: 0 24px 32px 24px;
}
.mortgage-btn button {
  width: 327px;
  padding: 16px 47px;
  border-radius: 999px;
  background-color: #d8db2f;
  color: #133041;
  border: none;
  font-size: var(--font-sizetext-preset-3);
  font-weight: 700;
  line-height: 22.5px;
  text-align: center;
}
.mortgage-btn button i {
  width: 24px;
  margin-right: 12px;
}

.mortgage-shown {
  background-color: #133041;
}
.mortgage-results {
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mortgage-results img {
  margin-bottom: 16px;
}
.mortgage-results h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 16px;
}
.mortgage-results p {
  font-size: var(--font-sizetext-preset-4);
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  color: #9abed5;
}
.calc-header {
  font-size: var(--font-sizetext-preset-2);
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  text-decoration-skip-ink: none;
  color: #ffffff;
  margin-bottom: 16px;
}
.calc-text {
  font-size: var(--font-sizetext-preset-4);
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #9abed5;
  margin-bottom: 40px;
}
.calc-container {
  border-top: 4px solid var(--color-lime, #d8db2f);
}
.calc-kredi {
  font-size: var(--font-sizetext-preset-1);
  font-weight: 700;
  line-height: 70px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #d8db2f;
}
.calc-geriodeme {
  font-size: var(--font-sizetext-preset-4);
  font-weight: 500;
  line-height: 24px;
  color: #9abed5;
}
@media (width > 767px) {
  body {
    background-color: #e4f4fd;
    padding: 40px;
  }
  .container {
    border-radius: 24px;
    background-color: #fff;
  }
  .mortgage-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .term-rate {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .mortgage-shown {
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
  }
  .amount-input input {
    width: 564px;
  }
  .term-input input {
    width: 212px;
  }
  .rate-input input {
    width: 241px;
  }
}

@media (width > 1280px) {
  body {
    padding: 209px 216px;
  }
  .container {
    max-width: 100%;
    display: flex;
    justify-content: center;
  }
  .mortgage-header {
    padding: 40px 40px 0 40px;
  }
  .mortgage-main {
    padding: 40px;
  }
  .mortgage-shown {
    border-bottom-left-radius: 80px;
    border-top-right-radius: 24px;
  }
  .term-rate {
    gap: 24px;
  }
  .mortgage-btn {
    padding: 0 40px 40px 40px;
  }
  .mortgage-shown {
    padding: 40px;
    display: flex;
  }
  .amount-input input {
    width: 380px;
  }
  .term-input input {
    width: 120px;
  }
  .rate-input input {
    width: 149px;
  }
}
